## Lambda Function

In [1]:
def square(x):
    return x**2

In [3]:
new = lambda x:x**2

In [4]:
print(new(5))

25

In [7]:
(lambda x: "odd" if x%2 != 0 else "even")(3)

'odd'

In [8]:
print((lambda x, y: (x+y)/2)(3,5))

4.0

In [20]:
(lambda x: x[::-1])("Ila")

'alI'

In [31]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i,(lambda x:  "odd" if x%2 != 0 else "even")(i))

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [32]:
reverse = lambda x: x[::-1]
reverse("alo")

'ola'

In [33]:
iterable =[1,2,3,4,5]
map(lambda x:x**2,iterable)
result = map(lambda x:x**2,iterable)
print(type(result))
print(list(result))
print(list(map(lambda x:x**2,iterable)))

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [38]:
def new_input(n):
    return n **2
rakamlar=[1,2,3,4,5,6,8,7]
result=map(new_input,rakamlar)
for i in result:
    print(i)

1
4
9
16
25
36
64
49

In [42]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers = map(lambda x, y, z: x+y+z, letter1, letter2, letter3)
print(list(numbers))

['one', 'six', 'ten', 'two']

In [43]:
nums1 =[9,6,7,4]
nums2=[3,6,5,8]
numbers = map(lambda x,y:(x+y)/2,nums1,nums2)
print(list(numbers))

[6.0, 6.0, 6.0, 6.0]

In [48]:
kelimeler = ["ali veli deli", "mehmet ağanın kuzeni", "cemilin-bacısı"]
uzunluk=map(len,kelimeler)
print(list(uzunluk))

[13, 20, 14]

In [50]:
word1=["you","much","hard"]
word2=["i","you","he"]
word3=["love","ate","works"]
sentence = map(lambda x, y, z: x + y + z, word2, word1, word3)
print(list(sentence))

['iyoulove', 'youmuchate', 'hehardworks']

## Lambda FILTER Functions

In [51]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]
say= filter(lambda x: len(x)<5,words)
print(list(say))

['swim', 'me', 'kiwi']

In [61]:
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

say= filter(lambda x: x in ("i" , "ö" , "u" , "a" , "e"),first_ten)
print(list(say))

['a', 'e', 'i']

In [77]:
commands=["right 20","right 30","left 50","down 20","up 10"]
x=y=0
for i in range(len(commands)):
    if commands[i].startswith("r"):
        x_deger= int(commands[i].split()[1])
        x=x+x_deger
    elif commands[i].startswith("l"):
        x_deger= int(commands[i].split()[1])
        x=x-x_deger
    elif commands[i].startswith("d"):
        y_deger= int(commands[i].split()[1])
        y=y-y_deger
    elif commands[i].startswith("u"):
        y_deger= int(commands[i].split()[1])
        y=y+y_deger
print(x,y)

0 -10